
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/periodo.css') }}">
    <script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/LOGO-UTA.png') }}">
    <title>Iniciar Periodo</title>
</head>
<body style="background-color: #AFAFAF;">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a style="color: white;" class="navbar-brand" href="{{ url_for('Home') }}">Vinculación</a>
                <button style="background-color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a style="color: white;" class="nav-link active" aria-current="page" href="{{ url_for('iniciarPeriodo') }}">Periodos</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white;" class="nav-link active" aria-current="page" href="{{ url_for('administrarAlumno') }}">Alumnos</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white;" class="nav-link active" aria-current="page" href="{{ url_for('catalago') }}">Archivos</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white;" class="nav-link active" aria-current="page" href="{{ url_for('Carrera') }}">Carreras</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white;" class="nav-link active" aria-current="page" href="{{ url_for('ValidarAlum') }}">Validar</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white;" class="nav-link active" aria-current="page" href="{{ url_for('Home') }}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: white;" class="nav-link" href="{{ url_for('logout') }}">Cerrar Sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
  

    <div class="container">


        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div style="width: 25%; position: fixed; top: 20%; right: 10%; z-index: 1050;" class="alert alert-{{ category }} alert-dismissible fade show flash-message" role="alert">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}


        <div style="margin-top: 40px;"> 
            <button class="custom-button"  data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="{{ url_for('static', filename='img/plus.png') }}" alt=""></button>
            <div class="row">
                    {% for Periodos in Periodos %}
                    <div class="col-md-3 mb-3">     
                        <div class="card" style="width: 18rem; margin-top: 20px;">
                                <div class="card-header">
                                    <h5 class="text-center">Periodo actual</h5>
                                </div>
                                <div class="card-body">
                                    <small>Nombre Del Periodo</small>
                                    <input type="text" class="form-control" value="{{ Periodos.NombrePeriodo }}"  readonly>
                                    <small>Duración</small>
                                    <input type="text" class="form-control" value="{{ Periodos.Duracion }}" readonly>
                                    <br>
                                    <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Terminar_periodo{{Periodos._id }}">Terminar</button></td>
                                    <div class="modal fade" id="Terminar_periodo{{Periodos._id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar carrera</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Estas seguro de Terminar el "{{ Periodos.NombrePeriodo }}"
                                            </div>
                                            <div class="modal-footer">
                                            <form action="{{ url_for('terminarPeriodo') }}" method="POST">
                                                <input type="hidden" name="idPeriodo" value="{{Periodos._id }}">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"> Terminar</i></button>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>                               
                        </div>  
                    </div> 
                    {% endfor %} 
            </div>
            
        </div>
    </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Iniciar Nuevo periodo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('agregarPeriodo') }}" method="POST">

                        <div class="form-group">
                            <label>Nombre del periodo</label>
                            <select name="N_periodo" id="N_periodo" class="form-select me-2">
                                <option value="Estadias T.S.U">Estadias T.S.U</option>
                                <option value="Estadias Ingenieria">Estadias Ingenieria</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Duración del periodo</label>
                            <br>
                            <input type="month" id="fech1" oninput= cambio1()  required>
                            <input type="month" id="fech2" oninput= cambio1()  required>
                            <input type="text" id="periodo" name="periodo" readonly>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Crear periodo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Obtener la fecha actual en formato "yyyy-mm-dd"
        var fechaActual = new Date().toISOString().split('T')[0];
        // Establecer la fecha actual como el valor mínimo para el campo de fecha de inicio
        document.getElementById("fech1").setAttribute("min", fechaActual);

        function cambio1(){
        M1=MesNum_MesPalabra(SelecMes(document.getElementById("fech1").value ))
        M2=MesNum_MesPalabra(SelecMes(document.getElementById("fech2").value ))
        document.getElementById("periodo").value=M1+"-"+M2+" "+Anio(document.getElementById("fech2").value) 
        } 
    </script>


    <script src="{{ url_for('static', filename='js/unir.js') }}"></script>
</body>

</html>